.side_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: var(--color-slate-100);
  transition: width 0.3s ease;
  width: 250px;
  min-width: 250px;
  overflow: hidden;
  padding: 10px 8px;
}

.collapsed {
  width: 50px;
  min-width: 50px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 32px;
}

.collapsed .header {
  justify-content: center;
}

.header .title {
  font-size: 20px;
}

.toggle_button {
  all: unset;
  display: grid;
  place-items: center;
  padding: 5px 8px;
  border-radius: 6px;
  cursor: pointer;
  background-color: var(--color-slate-50);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
