.auth_link {
  text-align: center;
}

.auth_link .text {
  color: var(--color-gray-500);
}
.auth_link .link {
  font-weight: 500;
  transition: color 0.2s ease-in-out;

  &:hover {
    color: var(--color-emerald-600);
  }
}
