.tag_status {
  border-radius: 6px;
  padding: 2px 8px;
}

.active {
  background-color: var(--color-success-light);
  color: var(--color-success-hard);
}

.deactivated {
  background-color: var(--color-error-light);
  color: var(--color-error-hard);
}
