.menu_link {
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  border-radius: 5px;
  padding: 4px 6px;
  color: var(--color-text-subtle);

  &:hover {
    background-color: var(--color-success-light);

    .icon {
      transition: color 0.2s ease-in-out;
      color: var(--color-primary);
    }

    .text {
      transition: color 0.2s ease-in-out;
      color: var(--color-primary);
    }
  }
}

.menu_link .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.menu_link .text {
  font-weight: 500;
}
