@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

.dark {
  --color-bg: #262626;
  --color-text: #ffffff;
  --color-text-inverse: #262626;
  --color-text-muted: #cbd5e1;
  --color-text-subtle: #e4e4e7;
  --color-text-placeholder: #9ca3af;
  --color-surface: #404040;
  --color-surface-muted: #374151;
  --color-surface-border: #6b7280;
  --color-app-bar: #171717;
  --color-table: #3f3f46;
  --color-table-border: #52525b;
  --color-primary: #059669;
  --color-primary-hover: #047857;

  --color-cancel: #6b7280;
  --color-cancel-hover: #4b5563;
  --color-error: #dc2626;
  --color-error-light: #fecaca;
  --color-error-hover: #b91c1c;
  --color-success: #22c55e;
  --color-success-light: #bbf7d0;
  --color-success-hover: #16a34a;
  --color-warning: #f97316;
  --color-warning-light: #fed7aa;
  --color-warning-hover: #ea580c;
  --color-info: #3b82f6;
  --color-info-light: #bfdbfe;
  --color-info-hover: #2563eb;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: var(--color-text);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 15px;
  /* background-color: var(--color-slate-50); */
  background-color: var(--color-bg);
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: var(--color-text);
}

* {
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}
