.component_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.component_container .input_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.component_container .input_container .label {
  white-space: nowrap;
  color: var(--color-gray-800);
  font-weight: 500;
}

.component_container .input_container .input_search {
  all: unset;
  background-color: var(--color-slate-50);
  border-radius: 5px;
  width: calc(100% - 30px);
  padding: 5px;
  padding-left: 20px;
}

.component_container .input_container .input_search::placeholder {
  color: var(--color-gray-500);
}

.table_container {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

.table_container::-webkit-scrollbar {
  height: 7px;
}

.table_container::-webkit-scrollbar-track {
  background-color: var(--color-gray-200);
}

.table_container::-webkit-scrollbar-thumb {
  background-color: var(--color-emerald-500);
  border-radius: 5px;
}

.table_container .table {
  width: 100%;
  min-width: 1200px;
  border-spacing: 0;
  overflow: hidden;
  border-collapse: collapse;
}

.table_container .table .table_head {
  height: 35px;
  background-color: var(--color-slate-50);
}

.table_container .table .table_head .cell {
  cursor: pointer;
  padding: 5px;
  transition: 0.2s;
  border: 1px solid var(--color-gray-200);

  &:hover {
    background-color: var(--color-slate-100);
  }
}

.table_container .table .table_head .cell_container {
  font-weight: 500;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.table_container .table .table_head .cell_container .cell_icon {
  font-size: 16px;
  color: var(--color-emerald-600);
  display: grid;
  place-items: center;
}

.table_container .table .table_body .row .cell {
  border: 1px solid var(--color-gray-200);
  padding: 8px 5px;
  text-align: center;
}

.component_container .buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 15px;
}

.component_container .buttons .page {
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

.component_container .buttons .icon {
  color: var(--color-gray-700);
  transition: 0.2s;
  font-size: 20px;
  display: grid;
  place-items: center;
}

.component_container .buttons .button {
  all: unset;
  padding: 5px;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
}

.component_container .buttons .button:hover {
  background-color: var(--color-gray-200);
}

.component_container .buttons .button:hover .icon {
  color: var(--color-gray-800);
}

.component_container .buttons .disable {
  display: none;
}

.component_container .buttons .selector {
  outline: none;
  border: none;
  height: 30px;
  background-color: var(--color-slate-100);
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: 0.2s;
}

.component_container .buttons .selector:hover {
  background-color: var(--color-slate-200);
}
