.container {
  position: fixed;
  inset: 0;
  backdrop-filter: blur(4px);
  background-color: rgba(0, 0, 0, 0.3);
  display: grid;
  place-items: center;
  z-index: 1000;
  padding: 12px;
}

.window {
  background-color: var(--color-white);
  width: 100%;
  max-width: 600px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  padding: 14px 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

.header .title {
  font-size: 16px;
  font-weight: 500;
}

.header .icon {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: color 0.2s ease;

  &:hover {
    color: var(--color-red-600);
  }
}
