.alert_base {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 12px;
  padding: 6px 8px;
  border-radius: 6px;
  animation: fadeIn 0.3s ease-in-out;
}

@media (min-width: 1536px) {
  .alertBase {
    padding: 8px 12px;
  }
}

/* Variantes */
.default_error {
  background-color: var(--color-error-light);
  color: var(--color-error);
}
.default_warning {
  background-color: var(--color-warning-light);
  color: var(--color-warning);
}
.default_info {
  background-color: var(--color-info-light);
  color: var(--color-info);
}
.default_success {
  background-color: var(--color-success-light);
  color: var(--color-success);
}

.filled_error {
  background-color: var(--color-error);
  color: var(--color-white);
  font-weight: 500;
}
.filled_warning {
  background-color: var(--color-warning);
  color: var(--color-white);
  font-weight: 500;
}
.filled_info {
  background-color: var(--color-info);
  color: var(--color-white);
  font-weight: 500;
}
.filled_success {
  background-color: var(--color-success);
  color: var(--color-white);
  font-weight: 500;
}

.outlined_error {
  background-color: transparent;
  border: 1px solid var(--color-red-600);
  color: var(--color-red-600);
}
.outlined_warning {
  background-color: transparent;
  border: 1px solid var(--color-orange-600);
  color: var(--color-orange-600);
}
.outlined_info {
  background-color: transparent;
  border: 1px solid var(--color-blue-600);
  color: var(--color-blue-600);
}
.outlined_success {
  background-color: transparent;
  border: 1px solid var(--color-green-600);
  color: var(--color-green-600);
}

/* Iconos */
.icon_base {
  display: grid;
  place-items: center;
  font-size: 18px;
}

.icon_default_error,
.icon_outlined_error {
  color: var(--color-error);
}
.icon_default_warning,
.icon_outlined_warning {
  color: var(--color-warning);
}
.icon_default_info,
.icon_outlined_info {
  color: var(--color-info);
}
.icon_default_success,
.icon_outlined_success {
  color: var(--color-success);
}
.icon_filled_error,
.icon_filled_warning,
.icon_filled_info,
.icon_filled_success {
  color: var(--color-white);
}

/* content */
.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

/* animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-4px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
