.tag_status {
  border-radius: 6px;
  padding: 2px 8px;
}

.active {
  background-color: var(--color-green-200);
  color: var(--color-green-800);
}

.deactivated {
  background-color: var(--color-red-200);
  color: var(--color-red-800);
}

.action_buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 14px;
}

.action_buttons .action_icon {
  cursor: pointer;
  transition: color 0.2s, background-color 0.2s;
  display: grid;
  place-items: center;
  font-size: 16px;
  padding: 5px;
  border-radius: 4px;
}

.action_buttons .edit {
  color: var(--color-blue-500);

  &:hover {
    color: var(--color-white);
    background-color: var(--color-blue-500);
  }
}

.action_buttons .delete {
  color: var(--color-red-500);

  &:hover {
    color: var(--color-white);
    background-color: var(--color-red-500);
  }
}
