.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.previous {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
}

.icon_previous {
  display: grid;
  place-items: center;
  font-size: 24px;
  transition: color 0.2s ease;

  &:hover {
    color: var(--color-emerald-600);
  }
}

.link {
  background-color: var(--color-emerald-500);
  color: var(--color-white);
  padding: 4px 10px;
  display: flex;
  border-radius: 5px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 6px;

  transition: background-color 0.2s ease;

  &:hover {
    background-color: var(--color-emerald-600);
  }

  &:active {
    transform: scale(0.95);
  }
}

.link .icon {
  display: inherit;
  font-size: 18px;
}
