.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.menu .title {
  color: var(--color-slate-600);
  font-size: 14px;
}

.menu_options {
  list-style: none;
  padding: 0;
  margin: 0;
}
